.log-in-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.log-in-log-in {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.log-in-main {
  gap: 64px;
  display: flex;
  padding: 100px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.log-in-title {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.log-in-text {
  display: flex;
  padding: 0 0 0 75px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.log-in-text01 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 110px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-image2 {
  width: 151px;
  height: 158px;
}
.log-in-input-area {
  gap: 32px;
  display: flex;
  padding: 0 160px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.log-in-id {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.log-in-frame-input-label {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.log-in-text03 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-requirement {
  width: 42px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.log-in-text05 {
  top: 3px;
  color: var(--dl-color-light_text-alert);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-support-text {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.log-in-text07 {
  color: var(--dl-color-light_text-description);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-input {
  gap: 8px;
  display: flex;
  padding: 24px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  background-color: var(--dl-color-light_background-primary);
}
.log-in-error-text {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.log-in-text09 {
  color: var(--dl-color-light_text-alert);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 170.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-pass-word {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.log-in-frame-input-label1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.log-in-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-requirement1 {
  width: 42px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.log-in-text13 {
  top: 3px;
  color: var(--dl-color-light_text-alert);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-support-text1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.log-in-text15 {
  color: var(--dl-color-light_text-description);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-input1 {
  gap: 8px;
  display: flex;
  padding: 24px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  background-color: var(--dl-color-light_background-primary);
}
.log-in-error-text1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.log-in-text17 {
  color: var(--dl-color-light_text-alert);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 170.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-button {
  gap: 42px;
  display: flex;
  padding: 0 240px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.log-in-resist-button {
  gap: 4px;
  display: flex;
  padding: 24px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-primitivecolors_white-1000);
}
.log-in-text19 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-back-button {
  gap: 4px;
  display: flex;
  padding: 24px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: center;
  background-color: rgba(218, 218, 218, 1);
}
.log-in-text21 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: underline;
}
